.Panel {      
  box-sizing: border-box;  
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.05);
  border: solid 1px #cdcdcd;
  background-color: #fff;
}